.container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  padding: 1.2rem 2rem;
  position: fixed;
  top: 0;
  background-color:#66cdaa;
  color: #191970;
  line-height: normal;
  letter-spacing: 0.15rem;
}

.container a {
  font-size: large;
  font-weight: 500;
  text-decoration: none;
}
